*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #111827;
}

.container{
  max-width: 320px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: white;
  
  width: 100%;
}

.header img{
  width: 80px;
}

.form{
  
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

.form input[type='text'], .desc{
  background-color: #444059;
  color: #ececec;
  padding: .8em;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  font-family: sans-serif;
}

.from-to{
  text-align: center;
}

.form input[type='text']::placeholder{
  opacity: .7;
}

.desc{
  grid-column: 1 / span 2;
  margin-top: 1.5em;
  resize: none;
}

.publish-btn{
  grid-column: 1 / span 2;
  padding: .9em;
  background-color: #28A9F1;
  color: #ffffff;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.publish-btn:hover{
  background-color: #40b1ee;
}

.endorsements{
  margin-top: 2em;
  
}

.endorsements h2{
  color: white;
  text-align: center;
  font-weight: 500;
}


.item{
  margin-top: 1em;
  background-color: #FFFFFF;
  color: #1B1924;
  padding: 1em;
}

.item p{
  line-height: 21px;
}
.item .to {
  margin: 15px 0;
}

.item .from {
  margin: 15px 0 10px;
}

.from-heart{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.from-heart span{
  margin-left: auto;
}

.from-heart b{
  font-size: 1.1em;
  margin-left: 5px;
  margin-top: 4px;
  font-family: sans-serif;

}

.from-heart span:hover{
  cursor: pointer;
}